<article class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slider-1" src="" alt="">
            <img id="slider-2" src="" alt="">
        </div>
        <div class="slider-nav">
          <button  id="left"></button>
          <button id="rigth"></button>
        </div>
    </div>


    <script>
            const derecha = document.querySelector('#left')
            const isquierda = document.querySelector('#rigth')



    </script>
</article>