<footer class="footer">
 
    <nav class="footer__nav">
      <%- include('suscríbete') %>
        <ul class="footer__nav__ul--redes">
          <li><a href=""><i class="fab fa-instagram"></i> Instagran</a></li>
          <li><a href=""><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href=""><i class="fab fa-youtube"></i> You tube</a></li>
          <li><a href=""><i class="fab fa-telegram-plane"></i> Telegran</a></li>
          <li><a href=""><i class="fab fa-spotify"></i> Spotify</a></li>
        </ul>
        <ul class="footer__nav__ul--vistas">
           <li><a href="/">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/blog">Blog</a></li>
           <li><a href="/contacts">Contacts</a></li>
            
        </ul>
    </nav>
</footer>