<footer class="footer">

  <nav class="footer__nav">
    <%- include('suscríbete') %>

      <div class="footer__nav--logo">
        <img src="images/Logo.png" alt="">
        <h2>consciencia cósmica</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores modi voluptatem sequi voluptate, facere odit
        ex nesciunt placeat illum voluptates cum, harum, fugit tempora eaque fuga aliquam excepturi provident maxime.
      </p>
   <ul>
        <li><a href=""><i class="fab fa-facebook"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-pinterest"></i></a></li>
        <li><a href=""><i class="fab fa-spotify"></i></a></li>
        <li><a href=""><i class="fab fa-youtube"></i></a></li>
      
      </ul>

      </div>
     
   
  </nav>
</footer>