<footer class="footer">

  <%- include('suscríbete') %>

  <nav class="footer--nav">
   
        <img src="images/Logo.png" alt="">

        <h2>consciencia cósmica</h2>
        <p>El nombre y logo de Consciencia Cósmica son marcas registradas. No se permite el uso y/o reproducción de
          ambos bajo ningún motivo. Consciencia Cósmica no se hace responsable de la utilización que cada persona pueda
          brindar al contenido publicado en este sitio web. </p>
        <ul>
          <li><a href=""><i class="fab fa-facebook"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-pinterest"></i></a></li>
          <li><a href=""><i class="fab fa-spotify"></i></a></li>
          <li><a href=""><i class="fab fa-youtube"></i></a></li>

        </ul>

  </nav>
</footer>