<header class="header">
    <div class="logo">
        <img src="images/Logo.png" alt="">
        <h2>consciencia cósmica</h2>
    </div>
   

    <nav class="nav" id="nav">
        <button id="abrir" class="menu--bar"><i class="fas fa-bars"></i></button>
        <ul>
            <button id="cerrar" class="nav--cerrar"><i class="fas fa-times"></i></button>
            <li><a href="/">inicio</a></li>
            <li><a href="/about">nosotros</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>sesiones <i class="fa-solid fa-chevron-down"></i>
                <ul class="section">
                    <li><a href="">astrología</a></li>
                    <li><a href="">canalizaciones</a></li>
                    <li><a href="">péndulo hebreo</a></li>
                    <li><a href="">reiki</a></li>
                    <li><a href="">tarot</a></li>
                    <li><a href="">terapia floral</a></li>

                </ul>
            </li>
            <li>formación <i class="fa-solid fa-chevron-down"></i>
                <ul class="formations">
                    <li><a href="">cursos</a></li>
                    <li><a href="">talleres</a></li>
                    <li><a href="">aula virtual</a></li>
                    <li><a href="">faq</a></li>
                </ul>
            </li>
            <li>recursos <i class="fa-solid fa-chevron-down"></i>
                <ul class="resources">
                    <li><a href="">podcast</a></li>
                    <li><a href="">redes</a></li>
                </ul>
            </li>
            <li><a href="/contacts">contactos</a></li>
        </ul>



    </nav>

    

    <script>
        const nav = document.querySelector('#nav')
        const abrir = document.querySelector('#abrir')
        const cerrar = document.querySelector('#cerrar')
        const main = document.querySelector('body')

        abrir.addEventListener('click', () => {
            nav.classList.toggle('visible')
        })
        cerrar.addEventListener('click', () => {
            nav.classList.remove('visible')
            
        })


        window.addEventListener('scroll', () =>{
            nav.classList.remove('visible')
        })

    


    </script>
</header>