<article class="suscríbete">
    <div class="form">
        <h2>Suscríbete a nuestra newsletter</h2>
        <p>Recibe nuestras noticias y ofertas exclusivas</p>
        <input type="text" name="text" placeholder="  Nombre">
        <input type="mail" name="mail" placeholder="  Correo electrónico">
    </div>


    <div>
        <input type="checkbox" name="button" class="checkbox">
        <label for="button" class="terminosCondiciones"> “Acepto los términos y condiciones y la política de privacidad del sitio web. Acepto
            recibir newsletter y ofertas de este sitio por correo electrónico”</label>
    </div>

    <button type="submit">Suscribirme </button>
</article>