<div class="suscríbete">
    <p>suscríbete para reciber noticias astrales y ofertas exclusivas.</p>
    <input type="text" name="text" placeholder="  Nombre*">
    <select name="signos" id="signos">
        <option value="Aries">Aries</option>
        <option value="Tauro">Tauro</option>
        <option value="Géminis">Géminis</option>
        <option value="Cáncer">Cáncer</option>
        <option value="Leo">Leo</option>
        <option value="Virgo">Virgo</option>
        <option value="Libra">Libra</option>
        <option value="Escorpio">Escorpio</option>
        <option value="Sagitario">Sagitario</option>
        <option value="Caprocornio">Caprocornio</option>
        <option value="Acuario">Acuario</option>
        <option value="Pisis">Pisis</option>
    </select>
    <input type="mail" name="mail" placeholder="  Intoduce tu correo">
    <div>
        <input type="checkbox" name="button">
        <label for="button"> Acepto los <a href="">Términos y condiciones</a> y la <a href="">Política de Privacidad</a> del sitio web. Acepto recibir
            newsletters y ofertas de este sitio por correo electrónico.</label>
    </div>

    <button type="submit">Suscribirme gratis</button>
</div>