<article class="suscríbete">
    <div class="form">
        <h2>Suscríbete a nuestra newsletter</h2>
        <p>Recibe nuestras noticias y ofertas exclusivas</p>
        <input type="text" name="text" placeholder="  Nombre*">
        <input type="mail" name="mail" placeholder="  Intoduce tu correo">
    </div>


    <div>
        <select name="" id=""> <option value="">Aries</option>
        </select>
        <div>
        <input type="checkbox" name="button">
        <label for="button"> Acepto los <a href="">términos y condiciones </a> y la <a href="">política de privacidad</a>  del sitio web. Acepto
            recibir newsletter y ofertas de este sitio por correo electrónico</label>
        </div>
        
    </div>

    <button type="submit">Suscribirme</button>
</article>