<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title : "Blog"}) %>
<body>
    <%- include('./partials/header') %>
    
    <main>
    <h1>Blog</h1>
    <img style="width: 50%; margin: 0 auto; display: block;" src="/images/coming-soon-2550190_1920.jpg" alt="">
</main>

<%- include('./partials/footer') %>
</body>
</html>