<!DOCTYPE html>
<html>

<%- include('./partials/head',{title : "Home" }) %>

  <body>


    <a href="users">perfil</a>
    <%- include('./partials/header') %>
      <main class="home">

        <!-- BANNER -->

        <section class="banner">
          <article>
            <p>“Tu visión se volverá más clara cuando mires dentro de tu propio corazón. <br> Quien mira hacia afuera,
              sueña. Quien mira hacia adentro, despierta.” <br>
              Carl Gustav Jung
            </p>
            <img src="/images/banner.png" alt="">
          </article>

        </section>

        <!-- BIENVENIDA -->

        <section class="bienvenida">
          <article>
            <h2>un placer tenerte aqui</h2>
            <p>Bienvenidos a nuestro espacio. <br>
              En Consciencia Cósmica abordamos y concebimos a cada ser desde una <br>
              perspertiva holística. Utilizando herramientas como la astrología, la meditación y<br>
              las terapias complementarias, fomentamos procesos de sanación conscientes,<br>
              responsables y voluntarios</p>
          </article>
        </section>

        <!-- POST -->
        <seection class="post">
          <h2>últimos post</h2>
          <article class="item2">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <br> Odit incidunt laboriosam
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
              voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
              magnam!</p>
            <button><a href="">Leer más</a></button>
          </article>
          
          <article class="item1">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <br> Odit incidunt laboriosam
            </h3>
            <img src="" alt="image post">
            <a href="">+</a>
          </article>
          <article class="item">
          <figure>
            <img src="" alt="image post">
          </figure>
              
          
    
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <br> Odit incidunt laboriosam
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
              voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
              magnam!</p>
            <button><a href="">Leer más</a></button>
          </article>
          <article class="item">
            <img src="" alt="image post">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <br> Odit incidunt laboriosam
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
              voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
              magnam!</p>
              <button><a href="">Leer más</a></button>
          </article>
          <article class="item">
            <img src="" alt="image post">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <br> Odit incidunt laboriosam
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
              voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
              magnam!</p>
              <button><a href="">Leer más</a></button>
          </article>
        </seection>

        <!-- SEPARADOR -->

        <section class="separador">
          <article>
            <img src="/images/separador.png" alt="separador">
            <p>“Camina como si estuvieras besando la tierra con sus pies.” <br>
              Thich Nhat Hanh
              </p>
          </article>
        </section>

        <!-- RECURSOS -->

        <section class="resources-home">
         <article>
          <img src="" alt="resources">
          <button>ver</button>
         </article>
         
         <article>
          <img src="" alt="resources">
          <button>ver</button>
         </article>
         
         <article>
          <img src="" alt="resources">
          <button>ver</button>
         </article>
         
        </section>
      </main>

      <%- include('./partials/footer') %>
  </body>

</html>