<!DOCTYPE html>
<html>

<%- include('./partials/head',{title : "Home" }) %>

  <body>

    <%- include('./partials/header') %>
      <main class="home">

        <!-- BANNER -->

        <section class="banner">
          <article>
            <p>“Tu visión se volverá más clara cuando mires dentro de tu propio corazón. <br> Quien mira hacia afuera,
              sueña. Quien mira hacia adentro, despierta.” <br>
              Carl Gustav Jung
            </p>
            <img src="/images/banner.png" alt="">
            
          </article>

        </section>

        <!-- BIENVENIDA -->

        <section class="bienvenida">
          <article>
            <h2>un placer tenerte aqui</h2>
            <p>Bienvenidos a nuestro espacio. <br>
              En Consciencia Cósmica abordamos y concebimos a cada ser desde una <br>
              perspertiva holística. Utilizando herramientas como la astrología, la meditación y<br>
              las terapias complementarias, fomentamos procesos de sanación conscientes,<br>
              responsables y voluntarios</p>
          </article>
        </section>

        <!-- POST -->
        <seection class="post postEffectContainer">
          <h2>últimos post</h2>

          <!-- ITEM 1 -->
          <article class="item2 postEffect" >
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Odit incidunt laboriosam
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
              voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
              magnam!</p>
            <button><a href="">Leer más</a></button>
          </article>

          <!-- ITEM 2 -->
          <article class="item1 postEffect">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Odit incidunt laboriosam
            </h3>
            <figure>
              <img src="/images/temporales/3.jpg" alt="image post">
            </figure>
            <a href="">+</a>
          </article>

           <!-- ITEM  3 -->
          <article class="item postEffect">
            <figure>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5jPXcSBDHvL0SOYJ-58qpbo9o2pjgzAOxQw&s" alt="image post">
            </figure>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Odit incidunt laboriosam
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
              voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
              magnam!</p>
            <button><a href="">Leer más</a></button>
          </article>

          <!-- ITEM 4 -->
          <article class="item postEffect">
            <figure>
              <img src="/images/temporales/5.jpg" alt="image post">
            </figure>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Odit incidunt laboriosam
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
              voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
              magnam!</p>
              <button><a href="">Leer más</a></button>
          </article>

            <!-- ITEM 5 -->
          <article class="item postEffect">
            <figure>
              <img src="https://institutodyn.com/wp-content/uploads/terapias-alternativas.jpg" alt="image post">
            </figure>
            
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Odit incidunt laboriosam
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
              voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
              magnam!</p>
              <button><a href="">Leer más</a></button>
          </article>
        </seection>

        <!-- SEPARADOR -->

        <section class="separador">
          <article>
            <p>“Camina como si estuvieras besando la tierra con sus pies.” <br>
              Thich Nhat Hanh
              </p>
              <img src="/images/separador.png" alt="">
          </article>
        </section>

        <!-- RECURSOS -->

        <section class="resources-home">
         <article>
          <img src="" alt="resources">
          <button>ver</button>
         </article>
         
         <article>
          <img src="" alt="resources">
          <button>ver</button>
         </article>
         
         <article>
          <img src="" alt="resources">
          <button>ver</button>
         </article>
         
        </section>
      </main>

      <%- include('./partials/footer') %>
  </body>
<script src="js/home.js"></script>
</html>