<!DOCTYPE html>
<html>
  <%- include('./partials/head',{title : "Home"}) %>
  <body>
    <%- include('./partials/header') %>
   <main>

    <h1>Home</h1>

    <img style="width: 50%; margin: 0 auto; display: block;" src="/images/coming-soon-2550190_1920.jpg" alt="">
  </main>
     <%- include('./partials/footer') %>
  </body>
</html>
