<!DOCTYPE html>
<html>

<%- include('./partials/head',{title : "Home" }) %>

  <body>


    <a href="users">perfil</a>
    <%- include('./partials/header') %>
      <main class="home">

        <section class="home--section--caja--banner">
          <div class="home--section--banner">
            <img src="/images/banner.png" alt="">
            <h3>«Tu visión se volverá más clara cuando mires dentro de
              tu propio corazón.
              Quien mira hacia afuera, sueña. Quien mira hacia adentro, despierta
              <br>
              Carl Gustav Jung
            </h3>
          </div>
        </section>

        <section class="home--section--posts">

          <h1>Últimos post</h1>

          <div id="post--1" class="home--section--post">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolorum praesentium animi sit alias.
              Doloribus hic quasi deleniti quas ex! Iure ex temporibus ipsam doloremque adipisci neque numquam quaerat
              totam.</p>
            <button><a href="">Leer más</a></button>
          </div>
          <div class="home--section--post--distinto">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <img src="/images/coming-soon-2550190_1920.jpg" height="200px" alt="">
            <button><a href="">+</a></button>
          </div>
          <div class="home--section--post">
            <img src="/images/coming-soon-2550190_1920.jpg" alt="">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolorum praesentium animi sit alias.
              Doloribus hic quasi deleniti quas ex! Iure ex temporibus ipsam doloremque adipisci neque numquam quaerat
              totam.</p>
            <button><a href="">Leer más</a></button>
          </div>
          <div class="home--section--post">
            <img src="/images/coming-soon-2550190_1920.jpg" alt="">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolorum praesentium animi sit alias.
              Doloribus hic quasi deleniti quas ex! Iure ex temporibus ipsam doloremque adipisci neque numquam quaerat
              totam.</p>
            <button><a href="">Leer más</a></button>
          </div>
          <div class="home--section--post">
            <img src="/images/coming-soon-2550190_1920.jpg" alt="">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolorum praesentium animi sit alias.
              Doloribus hic quasi deleniti quas ex! Iure ex temporibus ipsam doloremque adipisci neque numquam quaerat
              totam.</p>
            <button><a href="">Leer más</a></button>
          </div>

        </section>

        <section class="home--section--separador--1">
          <div class="home--section--separador--1--item">
            <img src="/images/separador.png" alt="">
            <h3>«Camina como si estuvieras besando la tierra con sus
              pies <br>
              Thich Nhat Hanh

            </h3>
          </div>
        </section>

        <section class="home--section--recursos">

          <h1>recursos</h1>

          <div class="home--section--recursos--item">
            <h3>en vivo</h3>
            <h5>clima astral & tarot</h5>
            <div class="home--section--recursos--items">
              <img src="/images/foto persona.png" alt="">
              <p class="texto--img">live</p>
              <p class="texto--nombre">camila pinto</p>
              <p class="texto--nombre">texto</p>
            </div>
            <div class="home--section--recursos--items">
              <img src="/images/foto persona.png" alt="">
              <p class="texto--img">live</p>
              <p class="texto--nombre">camila pinto</p>
              <p class="texto--nombre">texto</p>
            </div>
             
            <p class="texto--fecha">05 mayo. 5pm horas Santiago de Chile</p>
            <p class="texto--redes">instagrans</p>

            <div class="boton">
               <a class="boton--ver" href="">ver</a>
            </div>

             
          </div>
          <div class="home--section--recursos--item">
            <h3>en vivo</h3>
            <h5>clima astral & tarot</h5>
            <div class="home--section--recursos--items">
              <img src="/images/foto persona.png" alt="">
              <p class="texto--img">live</p>
              <p class="texto--nombre">camila pinto</p>
              <p class="texto--nombre">texto</p>
            </div>
            <div class="home--section--recursos--items">
              <img src="/images/foto persona.png" alt="">
              <p class="texto--img">live</p>
              <p class="texto--nombre">camila pinto</p>
              <p class="texto--nombre">texto</p>
            </div>
             
            <p class="texto--fecha">05 mayo. 5pm horas Santiago de Chile</p>
            <p class="texto--redes">instagrans</p>

            <div class="boton">
               <a class="boton--ver" href="">ver</a>
            </div>

             
          </div>
          <div class="home--section--recursos--item">
            <h3>en vivo</h3>
            <h5>clima astral & tarot</h5>
            <div class="home--section--recursos--items">
              <img src="/images/foto persona.png" alt="">
              <p class="texto--img">live</p>
              <p class="texto--nombre">camila pinto</p>
              <p class="texto--nombre">texto</p>
            </div>
            <div class="home--section--recursos--items">
              <img src="/images/foto persona.png" alt="">
              <p class="texto--img">live</p>
              <p class="texto--nombre">camila pinto</p>
              <p class="texto--nombre">texto</p>
            </div>
             
            <p class="texto--fecha">05 mayo. 5pm horas Santiago de Chile</p>
            <p class="texto--redes">instagrans</p>

            <div class="boton">
               <a class="boton--ver" href="">ver</a>
            </div>

             
          </div>

         
        </section>

      

      </main>

      <%- include('./partials/footer') %>
  </body>

</html>