<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <article class="resources-home1">
                <img src="/images/temporales/podcast.jpg" alt="resources">
                <button>ver</button>
            </article>
        </div>
        <div class="swiper-slide">
            <article class="resources-home1">
                <img src="/images/temporales/podcast.jpg" alt="resources">
                <button>ver</button>
            </article>
        </div>
        <div class="swiper-slide">
            <article class="resources-home1">
                <img src="/images/temporales/podcast.jpg" alt="resources">
                <button>ver</button>
            </article>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
