

 <!-- Swiper -->
 <div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <article class="item-post1">
  <figure>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5jPXcSBDHvL0SOYJ-58qpbo9o2pjgzAOxQw&s" alt="image post">
  </figure>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Odit incidunt laboriosam
  </h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
    voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
    magnam!</p>
  <button><a href="">Leer más</a></button>
</article>
    </div>
    <div class="swiper-slide">
      <article class="item-post1">
  <figure>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5jPXcSBDHvL0SOYJ-58qpbo9o2pjgzAOxQw&s" alt="image post">
  </figure>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Odit incidunt laboriosam
  </h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
    voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
    magnam!</p>
  <button><a href="">Leer más</a></button>
</article>
    </div>
    <div class="swiper-slide">
      <article class="item-post1">
  <figure>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5jPXcSBDHvL0SOYJ-58qpbo9o2pjgzAOxQw&s" alt="image post">
  </figure>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Odit incidunt laboriosam
  </h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sint laudantium aut earum! Dicta, iure
    voluptatum! Tenetur porro neque vel illo delectus cum praesentium pariatur fugiat nesciunt beatae. Iure,
    magnam!</p>
  <button><a href="">Leer más</a></button>
</article>
    </div>
   
  </div>
  <div class="swiper-pagination"></div>
</div>

