<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/kauraReiki.jpeg" alt="">
      </figure>
      <button class="gratuito">Ver Más</button>
      <p class="caja-description">Curso de Karuna Reiki</p>
      <p class="caja-description">Niveles I y II</p>
  </article>
    </div>
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/akajicos.jpeg" alt="">
      </figure>
      <button class="gratuito">Ver Más</button>
      <p class="caja-description">Curso de Registros Akáshicos</p>
      <p class="caja-description">Niveles I y II</p>
  </article>
    </div>
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/kauraReiki.jpeg" alt="">
      </figure>
      <button class="gratuito">Ver Más</button>
      <p class="caja-description">Curso de Péndulo Hebreo</p>
      <p class="caja-description"></p>
  </article>
    </div>
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/kauraReiki.jpeg" alt="">
      </figure>
      <button class="gratuito">Ver Más</button>
      <p class="caja-description">Curso de Reiki Usui</p>
      <p class="caja-description">Niveles I y II</p>
  </article>
    </div>
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/kauraReiki.jpeg" alt="">
      </figure>
      <button class="gratuito">Ver Más</button>
      <p class="caja-description">Curso de Limpieza & Protección energética</p>
      <p class="caja-description"></p>
  </article>
    </div>
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/kauraReiki.jpeg" alt="">
      </figure>
      <button class="gratuito">gratuito</button>
      <p class="caja-description">Astrología & Flores de Bach</p>
      <p class="caja-description"></p>
  </article>
    </div>
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/kauraReiki.jpeg" alt="">
      </figure>
      <button class="gratuito">gratuito</button>
      <p class="caja-description">Aproximación a los Registros Akáshicos</p>
      <p class="caja-description"></p>
  </article>
    </div>
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/kauraReiki.jpeg" alt="">
      </figure>
      <button class="gratuito">gratuito</button>
      <p class="caja-description">Fundamentos del Reiki</p>
      <p class="caja-description"></p>
  </article>
    </div>
    <div class="swiper-slide">
      <article class="cursos--caja">
      <figure>
          <img src="/images/cursos/kauraReiki.jpeg" alt="">
      </figure>
      <button class="gratuito">gratuito</button>
      <p class="caja-description">Curso básico de chakras</p>
      <p class="caja-description"></p>
  </article>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

