.footer section{
  font-family: 'Gidole', sans-serif !important;
  width: 100%!important;
 padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(66, 11, 117, 0.116);
}

.footer--nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 700px;
  padding: 0 10px;
}

.footer--nav ul{
  display: flex;
  width: 60%;
 justify-content: space-around;
}
.footer--nav ul li{

  font-size: 30px;
}

.footer--nav img{
  width: 100px;
  margin-top: -40px;
}
.footer--nav h2{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--tipografiaLogo);
  font-weight: 300;
}

.footer--nav p{
  width: 80%;
  line-height: 20px;
 text-align: center;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 10px; 
  background-color: rgba(66, 11, 117, 0.616);
  font-size: 17px;
}

@media (max-width: 1440px) {
  .footer--nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 450px;
    padding: 0 10px;
  }
}
@media (max-width: 1023px) {
  .footer--nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
    padding: 0 10px;
  }
}