.footer{
  width: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
  background-color:  #e3a5e3;
}

.footer--nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 600px;
  padding: 0 10px;
  margin-top: -17px;
}

.footer--nav ul{
  display: flex;
  gap: 20px;
}

.footer--nav ul li{
  font-size: 1.5rem;
}

.footer--nav img{
  width: 100px;
}
.footer--nav h2{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--tipografiaLogo);
  font-weight: 300;
}

.footer--nav p{
  width: 100%;
 text-align: center;
 line-height: 1.5rem;
}

@media (max-width: 1250px) {
  .footer--nav{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 500px;
    padding: 0 10px;
  }
}
@media (max-width: 1023px) {
  .footer--nav{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 0 30px;
  }

  .footer{
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .footer--nav{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 0 10px;
  }

  .footer{
    flex-direction: column-reverse;
  }
}
