
/* font-family: 'Gidole', sans-serif;
font-family: 'Manjari', sans-serif;
*/

:root{
  --tipografiaLogo: 'Gidole', sans-serif;
  --tipografiaMenues: 'Manjari', sans-serif;
  --colorBotones: #d98cd9;
  --colorFondoSecciones: #e8e1ff
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--tipografiaMenues);
  background-color: #fdfdfd;
  max-width: 2000px;
  margin: 0 auto;
}

li {
  list-style: none;
  text-transform: uppercase;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}

button{
  text-transform: uppercase;
  font-family: var(--tipografiaMenues);
}

h2,h3{
  font-family: var(--tipografiaLogo);
  font-weight: 300;
}



