
/* font-family: 'Gidole', sans-serif;
font-family: 'Manjari', sans-serif;
*/

:root{
  --tipografiaLogo: 'Gidole', sans-serif;
  --tipografiaMenues: 'Manjari', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--tipografiaMenues);
  background-color: #e8e1ff;
}

li {
  list-style: none;
  text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #131d20;
    text-transform: uppercase;
  
}



