.header {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* header logo */

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 35%;
}

.logo h2{
  font-family: var(--tipografiaLogo);
  text-transform: uppercase;
  font-weight: 100;
  font-size:25px;
}

.logo img {
  width: 80px;
}

/* header menu */
.nav {
  width: 65%;
  display: flex;
  justify-content: end;
  font-family: 'Manjari', sans-serif;;
  
}

.nav ul {
  padding: 0 10px;
}

.nav ul li {
  padding: 5px 20px 0;
  position: relative;
  float: left;
  cursor: pointer;
}

/* header sub menus */
.nav .section,
.nav .formations,
.nav .resources {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  visibility: hidden;
  padding: 10px;
  width: 200px;
  top: 50px;
  left: 0px;
  z-index: 10;
  border-radius: 10px !important;
  transition: all 0.3s ease-in;
  background-color: #926e6e;
}
.nav .section li,
.nav .formations li,
.nav .resources li {
  padding: 5px 10px;
  width: 100%;

  z-index: 10;
  
}



.nav ul li:hover > ul {
  visibility: visible;
  top: 30px;
}




/* header menu bar */

.menu--bar {
display: none;
}

.nav--cerrar {
  display: none;
}

@media (max-width: 1440px) {
  .header {
    width: 85%;
    max-width: 1200px;
    padding: 20px 0;
  }

  
  .logo {
    width: 20%;
  }

  .logo img {
    width: 40px;
  }

  .logo h2 {
    font-size: 1rem;
  }

  .nav {
    width: 75%;
  }
}
@media (max-width: 1280px) {
  .header {
    width: 90%;
    max-width: 1200px;
    padding: 20px 0;
  }

  .logo {
    width: 20%;
  }

  .logo img {
    width: 40px;
  }

  .logo h2 {
    font-size: 1rem;
  }

  .nav {
    width: 70%;
  }

  .nav ul li {
    font-size: 0.8rem;
  }
}
@media (max-width: 1024px) {
  .header {
    width: 95%;
    max-width: 1200px;
    padding: 20px 0;
    gap: 15px;
    flex-direction: column;
  }

  .logo {
    width: 100%;
    justify-content: center;
    gap: 3px;
  }

  .logo img {
    width: 40px;
  }

  .logo h2 {
    font-size: 1rem;
  }

  .nav {
    justify-content: center;
    width: 100%;
  }

  .nav ul li {
    font-size: 0.8rem;
    padding: 5px 15px;
  }
}
@media (max-width: 767px) {
  .header {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 3s ease;
  }
  
  /* header logo */
  
  .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .logo img {
    width: 50px;
  }
  
  /* header menu */
  .nav {
    width: 350px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #b1a8bd;
    position: absolute;
    top: -1100px;
    left: -350px;
    cursor: pointer;
    z-index: 10;
    border-radius: 100%;
    opacity: 0;
    transition: all 2s ease;
  }

  

  .nav ul {
    display: inline-block;
    padding: 10px;
  }
  
  .nav ul li {
    padding: 10px 30px;
    position: relative;
    float: none;
    font-size: 1rem;
    width: 45%;
  }
  
  /* header sub menus */
  .nav .section,
  .nav .formations,
  .nav .resources {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: hidden;
    position: absolute;
    left: 150px;
    z-index: 10;
    width: 170px;
  }

  .nav .section li,
  .nav .formations li,
  .nav .resources li {
    padding: 10px 10px;
    width: 100%;
    background-color: #fdfdfd;
    z-index: 10;
  }

  .nav ul li:hover > ul {
    visibility: visible;
    top: 0px;
    
   }
  
  .nav ul li:hover{
    background-color: rgba(255, 255 , 255 , 0.5);
  }
  
  /* header menu bar */
  
  .menu--bar {
    visibility: visible;
    padding: 25px;
    font-size: 1.5rem;
    background-color: #fdfdfd;
    outline: none;
    border: none;
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
    z-index: 10;
  }

  .nav.visible{
    top: 0;
    left: 0;
    border-radius: 0;
    opacity: 1;
  }

  .nav--cerrar {
    display: block;
    padding: 15px;
    font-size: 1.5rem;
    background-color: #b1a8bd;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
}
