/* HEADER DESKTOP */

.header {
  padding-top: 30px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.header__nav--logo{
   width: 30%;
    display: flex;
    align-items: center;
}

.header__nav--logo img{
    width: 70px;
}

.header__nav--logo h2{
    width: 100%;
    font-size: 20px;
    font-family: var(--tipografiaLogo);
}

.header__nav--ul {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 60%;
}
.header__nav--ul li {
  position: relative;
  float: left;
  padding: 5px;
  font-size: 16px;
}

.sub--menu--secciones {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  text-align: left;
  padding: 10px;
}
.sub--menu--secciones li{
    float: none;
    width: 100%;
}
.sub--menu--formaciones {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  text-align: left;
  padding: 10px;
}

.sub--menu--formaciones li{
    float: none;
    width: 100%;
}

.sub--menu--recursos {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  text-align: left;
  padding: 10px;
}

.sub--menu--recursos li{
    float: none;
    width: 100%;
}

.menu--bar{
  display: none;
}

.header__nav--ul li:hover{
    background-color: rgba(204, 147, 201, 0.5);
    border-radius: 3px;
}

.header__nav--ul li:hover > .sub--menu--formaciones {
  display: block;
  z-index: 1;
  background-color: #fffff0;
}
.header__nav--ul li:hover > .sub--menu--secciones {
  display: block;
  z-index: 1;
  background-color: #fffff0;
}
.header__nav--ul li:hover > .sub--menu--recursos {
  display: block;
  z-index: 1;
  background-color: #fffff0;
}



@media (max-width: 1280px){

  .header__nav{
    width: 90%;
  }
}


@media (max-width:768px) {
  
  .header {
    padding-top: 30px;
  }
  .header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: solid 2px #a9a9a9;
    text-transform: uppercase;
  }
  .header__nav--logo{
     width: 30%;
      display: flex;
      align-items: center;
  }
  
  .header__nav--logo img{
      width: 70px;
  }
  
  .header__nav--logo h2{
      width: 100%;
      font-size: 20px;
      font-family: var(--tipografiaLogo);
  }
  
  .header__nav--ul {
   display: none;
  }
  .header__nav--ul li {
    
  }


.menu--bar{
  display: flex;
}

}
