.suscríbete{
    width: 700px;
}

.suscríbete .form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.suscríbete .form h2{
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.suscríbete .form p{
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.suscríbete .form input{
    width: 45%;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px ;
    border: solid 2px #436c79 ;
}
.suscríbete button{
    width: 100%;
    height: 45px;
    margin: 10px 0;
    color: #fdfdfd;
    font-size: 1rem;
    background-color: #436c79;
    border-radius: 5px;
    outline: none;
    border: none;
}

.suscríbete .form input:focus{
    box-shadow: 5px 0px 10px #436c79;
}


@media (max-width: 1440px) {
    .suscríbete{
        width: 450px;
    }
    
}
@media (max-width: 1023px) {
    .suscríbete{
        width: 300px;
    }
    
}

/* ------------- */
.suscríbete .form h2{
    width: 100%;
    text-align: left;
    padding: 15px 0;
    text-transform: uppercase;
    color:rgb(62, 0, 90);
}

.suscríbete .form p{
    width: 100%;
    text-align: left;
    padding: 5px 0 35px;
    color: #2f3a3dab;
}

.suscríbete select, .suscríbete .form input{
    width: 48%;
   height: 50px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px ;
    border: solid 2px rgb(62, 0, 90) ;
}
.suscríbete div div{
    width: 48%;
    float: right;
}
.suscríbete label{
    width: 100% !important;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.suscríbete label a{
    color: blue;
}

.suscríbete button{
    color: white;
    font-weight: 800;
    background-color: rgb(62, 0, 90);
}